*{
    margin: 0;
    padding:0;
}

header{
    background-color: #008000;
}
/* body{
    /* background: url("../BlackJack/background.jpg") center center; 
} */

.cash{
    color: #eaec5d;
    display: inline-block;
    padding-right: 5px;
}

.funds{text-align: right;margin: 3px 20px;}
/* .cash::after{
    content: "";
    clear: both;
    display: block;
} */

.wrapper{
    overflow: hidden;
    background: url("../BlackJack/damask-1920x1200-62.jpg");
    max-width: 1400px;
    background-size: contain;

}

.wrapper h1{
    text-align: center;
    /* color:#f4f4f4; */
    font-family: 'Anton', sans-serif;
    display: inline-block;
    

}

.wrapper h1 span{
    font-family: 'Wendy One', sans-serif;
    color:#eaec5d;

}
.jack-logo{
    width:100px;
    display:inline-block;
}
.jack-logo img{
    width: 80px;
    height: 80px;
    padding: 3px 0px 0px 10px; 
    
}

.score{
    text-align: center;
    font-style: bold;
    font-size: 48px;
    visibility: hidden;
    

}

.card-slots{
    text-align: center;
    
}
.slot img {
    /* border:5px solid #ff4500; */
    width:100px;
    height:150px;
    margin-right: 3px;
    opacity: 0;
    
}
.slot{
    display: inline-block;
}
.slot [alt="deck"]{
    border:none;
    float: none;
}

.options{width:80%;margin: 0 auto;visibility: hidden;}
.btn{
    color: #f4f4f4;    
    background-color: #628fc4;
    border: none;
    width: 16%;
    height: 50px;
    margin-top: 5px;
    font-style: bold;

}
.btn:active{
    
    background-color: #6290c4c0;
    border: 3px solid orange;



}

.players{
    color:#f4f4f4;
    margin:3px;
    display: inline-block;
    
}
#START {display: block;margin: 0 auto;}
.btnContainer{margin: 10px;}
header a{
    
    color: #f4f4f4;
    font-size: 42px;
    text-transform: capitalize;
    text-decoration: none;
    border-left: 3px solid #eaec5d;
    border-right: 3px solid #eaec5d;
    
    float: right;
    margin-right: 10px;
    padding: 0 10px;

}
header a:hover{
    color: #f4f4f4d2;
}
header a::after{
    content: "";
    display: block;
    clear: both;
}

.resultScreen{

    position: relative;
    left: 47%;
    right: 47%;
    top:40%;
    bottom: 60%;
    font-size: 32px;
    text-transform: capitalize;
    color: #ff0000bb;
    display: none;
    
    
    
}

.win{
    color: rgb(8, 151, 8);
}

.push{
    color: #eaec5d;
}

